# This is a basic workflow to help you get started with Actions

name: publish collection to Ansible galaxy

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    # branches: [ "master" ]
    tags: 
    - "*-*.*.*"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  publish:
    environment: galaxy
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6
      - name: Set outputs
        id: vars
        run: |
          COLLECTION=$(echo $GITHUB_REF_NAME | cut -d- -f1)
          VERSION=$(echo $GITHUB_REF_NAME | cut -d- -f2-)
          echo "COLLECTION=$COLLECTION" >> "$GITHUB_OUTPUT"
          echo "VERSION=$VERSION" >> "$GITHUB_OUTPUT"
      - name: Build and Deploy Collection
        uses: artis3n/ansible_galaxy_collection@v2
        with:
          api_key: '${{ secrets.GALAXY_API_KEY }}'
          collection_dir: 'camaeel/${{ steps.vars.outputs.COLLECTION }}'
          galaxy_version: '${{ steps.vars.outputs.VERSION }}'
